<%- include('includes/head.ejs') %>
<% if (users.length > 0) { %>
    <h1>Users</h1>
    <ul>
        <% users.forEach((user) => { %>
            <li><%= user.name %></li>
        <% }); %>
    </ul>
<% } else { %>
    <h1>No Users Found</h1>
<% } %>
<%- include('includes/end.ejs') %>
